{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 300,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "bracketSameLine": false
}
